@{
    ViewBag.Title = "Shopping Cart";

}
@using Kata.ShoppingCart;
@model Checkout

<div class="jumbotron">
    <h1>Shopping Cart</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form name="input" action="~/Home/Index" method="post">
            Item SKU: <input type="text" id="sku" name="sku" />
            <input type="submit" id="btnSubmit" name="btnSubmit" value="Scan" />
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Total</h2>
        <p>
            @Model.Total()
        </p>

    </div>
    <div class="col-md-6">
        <h2>Items</h2>
        <ul>
        @foreach (Item i in Model.Items){
            <li>@i.Name</li>
        }
        </ul>
    </div>
</div>